@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.text-justify {
  text-align: justify;
}

.title {
  border-radius: 10px;
}

.title::before {
  content: '# ';
  color: #999;
  font-weight: 100;
}

.hor-divisor {
  margin-block: 2rem;

  width: 70%;
  height: 1px;

  margin-inline: auto;

  background-color: #212529;
}

.strike {
  color: #999;
  font-style: italic;
  text-decoration: line-through;
}

.min {
  font-size: small;
}
